@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;



.padding_blue_form {
    padding: 20px 0 60px 0;
    position: relative;

}

.axios__uploading_form {
    height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    position: relative;

}
.form_form-blue-component {
    position: relative;

    .background_575EEF {
        background: #575EEF;
        width: 100%;
        min-height: 200px;
        border-radius: 12px;
        padding: 24px 30px;

        h4, h5, h6 {
            text-align: center;
            line-height: 1.2em;
            padding: 10px 0;
            color: #ffffff;

        }

        .form_blue {
            padding: 20px 0 0 0;


            .form_blue__flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .input-group {
                    width: 24%;
                }

                .input-button {
                    width: 24%;
                    padding: 0;
                    margin-bottom: 20px;

                    .btn.btn-big {
                        padding: 11.2px 20px;;
                    }
                }
            }
        }

        /**  Отдельная дописка только на голубую форму **/
        .form_blue {
            .input-group .input-group__input:not(:placeholder-shown) + label,
            .input-group .input-group__input:focus + label,
            .input-group textarea:not(:placeholder-shown) + label,
            .input-group textarea:focus + label {
                display: none;
            }

            .input-group .input_error {
                border-radius: 3px;
            }
        }

        /**  Отдельная дописка только на голубую форму **/
    }
}

@media screen and (max-width: 1200px) {
    .axios__uploading_form {
        height: auto;

    }
}
@media screen and (max-width: 1168px) {
    .form_form-blue-component {
        .form_blue__flex {
            flex-wrap: wrap;
        }
        .input-group {
            width: 49% !important;
        }

        .input-button {
            width: 49% !important;
            .btn.btn-big {
width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 742px) {
    .form_form-blue-component {
        padding-bottom: 80px;
        .form_blue__flex {
          display: block !important;
        }
        .input-group {
            width:100% !important;
        }

        .input-button {
            width: 100% !important;
            .btn.btn-big {
width: 100% !important;
            }
        }
    }
}
