@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;


// Input
$input-height: 50px;
$border-color: #E0E0E0;
$primary-color: $colorGrey;

._group_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    padding: 5px 0;
}


.select-box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 3px;
    padding: 0;



    .options-container {
        background: #ffffff;
        color: $color;
        max-height: 0;
        width: 100%;
        opacity: 0;
        // transition: all 0.4s;
        /* Определяем переход только при добавлении */
        // transition: transform 0.4s ease-in-out;
        overflow: hidden;
        border-radius: 3px;
        order: 1;

    }

    .selected {
        height: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        color: $colorGrey;
        border-radius: 3px;
        padding: 0 10px;
        background: #ffffff;
        margin-bottom: 0;
        position: relative;
        order: 0;
        border: 1px solid #E0E0E0;
        span {
            color: $colorRed;
        }

        &.active {
            color: $color
        }

        &::after {
            content: "";
            background-size: contain;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8cGF0aCBmaWxsPSIjNjY3MDg1IiBkPSJNNy40MSA4LjU5TDEyIDEzLjE3bDQuNTktNC41OEwxOCAxMGwtNiA2LTYtNiAxLjQxLTEuNDF6Ii8+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgwVjB6Ii8+DQo8L3N2Zz4=');
            position: absolute;
            height: 100%;
            width: 32px;
            right: 10px;
            top: 8px;
            transition: all 0.4s;
            cursor: pointer !important;
        }
    }


    .options-container.active {

       max-height: 240px;
        opacity: 1;
        overflow-y: scroll;
        margin-top: 4px;
        position: absolute;
        bottom: 68px;
        background: #fff;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        z-index: 999;
        left: 0;

    }

    .options-container.active + .selected::after {
        transform: rotateX(180deg);
        top: -9px;
        z-index: 200;
    }

    .options-container::-webkit-scrollbar {
        width: 8px;
        background: #ffffff;
        border-radius: 0 8px 8px 0;
    }

    .options-container::-webkit-scrollbar-thumb {
        background: #ebebed;
        border-radius: 6px;
    }

    .option:hover,
    .option.active {
        background: rgba(239, 83, 63, 0.16);
    }

    label {
        cursor: pointer;
    }

    .option .radio {
        display: none;
    }

    .option * {
        cursor: pointer !important;

    }


}

.select-box .option,
.select-box  .selected {
    padding: 12px 5px 0 16px;
    align-items: center;
    height: 50px;
    cursor: pointer !important;
}

.select-box  .selected {
    padding: 0 5px 0 16px;
}

.search-box {
    position: relative;

    /* Searchbox */

    input {
        width: 100%;
        height: 50px;
        padding: 12px 16px;
        position: absolute;
        border-radius: 3px;
        z-index: 100;
        border: 1px solid #E0E0E0;
     /*   display: none;*/
        opacity: 0;
        pointer-events: none;
        // transition: all 0.4s;
    }

    input:focus {
        outline: none;
    }
}

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
    bottom: 0;
    border: 1px solid #E0E0E0;
}

.select-box .options-container.active ~ .search-box {
    padding: 0;
}


/** ошибки **/
.select-box {
    .input_error {
        position: absolute;
        background: #fff;
        padding: 0 10px;
        color: $colorRed;
        font-size: 14px;
        bottom: -9px;
        left: 10px;
    }

    .selected {
        &._error {
            border: 1px solid $colorRed;

        }
    }
}

@media (max-width: 900px) {
    .select-box {
        position: relative;

        .options-container.active {
            bottom:0;
            position: relative;
        }
    }

}
