@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.radio2 {
    width: 100%;
    position: relative;
    padding: 0 0 15px 0;

    .radio2-inputs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        background-color: #EEE;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
        padding: 0.25rem;
        width: 100%;


        label {
            flex: 1 1 auto;
            text-align: center;

            input {
                display: none;
            }

            .name {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border-radius: 0.5rem;
                border: none;
                padding: .4rem 0;
                color: rgba(51, 65, 85, 1);
                transition: all .15s ease-in-out;

                i {
                    display: block;
                    font-style: normal;
                }

                i:last-child {
                    display: none;
                }
            }

            input:checked + .name {
                background-color: #fff;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 742px) {
    label {

        .name {


            i:first-child {
                display: none !important;
            }

            i:last-child {
                display: block !important;
            }
        }

    }
}
