@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.form_form-response {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    &.active {
        display: block;
    }

    .af-message {
        padding: 30px 24px 36px 24px;
        .form_response__title {
            text-align: center;

        }

        .form_response__img {
            padding: 30px 0;
     display: flex;
            justify-content: center;
            align-items: center;
        }

        .form_response__text {
            text-align: center;
            font-size: 16px;
            max-width: 90%;
            margin: 0 auto;
        }

        .form_response__close {

        }
    }
}
