@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #0870D8;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;


.btn {
    width: auto;
    height: 52px;
    line-height: 49px;
    display: inline-table;
    text-align: center;
    background: $colorBlue;
    border-radius: 36px;
    font-size: 16px;
    border: 1px solid $colorBlue;
    color: #FFFFFF;
    position: relative;
    transition: 0.3s;
    text-decoration: none !important;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
        border: 1px solid $colorBlue2;
        background: $colorBlue2;
        color: #fff;

    }
}


.btn.btn_white {
    background: #fff;
    border-radius: 36px;
    border: 1px solid $colorBlue;
    color: $colorBlue;

}

.btn.btn_white:hover {
    background: $colorBlue2;
    border-radius: 36px;
    border: 1px solid $colorBlue2;
    color: #fff;

}
.btn-20 {
    font-size: 20px;
}


@media screen and (max-width: 478px) {
    .btn {
        height: 46px;
    }
}
