.business-feedback-form {
    max-width: 600px;

    .input-group {
        input {
        }
       .input-group__input:focus + label,  textarea:focus + label {

        }

    }
}

.apply_auto_insurance {
    padding: 20px 0 40px 0 !important;
}
