.content_items-template5 {
    padding: 40px 0 0 0;

    .item5 {
        width: 100%;
        position: relative;
        color: #00003D;


        .item5__flex {
            display: flex;
            position: relative;
            margin-bottom: 32px;
            border-bottom: 1px solid #00000014;
            padding-bottom: 14px;

            .item5__left {
                .office {
                    color: #6E6E6E;
                    font-size: 24px;

                }


                .office__flex {
                    display: flex;
                    align-items: center;
                    height: 24px;
                    width: 100%;
                    padding: 0 0 16px 0;

                    .o_left {
                        padding: 0 16px 0 0;
                    }

                    .o_right {
                        width: 24px;
                        height: 24px;
                        min-width: 24px;
                        border-radius: 24px;
                        position: relative;

                        img {
                            border-radius: 24px;
                        }
                    }
                }


                .address {

                    display: block;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 1.2em;
                    padding: 10px 0;
                    text-decoration: none;
                    color: #00003D;
                }

                .country {
                    display: block;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 1.2em;
                    padding: 0 0 10px 0;
                    text-decoration: none;
                    color: #6E6E6E;
                }

            }

            .item5__right {
                padding-bottom: 17px;
                .map {
                    width: 100%;
                    height: 336px;
                    background: #cccccc;
                    h5 {
                        color: #00003D;
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                }

            }
        }
    }
}
