@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.content_item-template {
    position: relative;
    padding: 30px 0 0 0;

._44 {
    font-size: 44px;
    font-weight: 600;
    color: #00003D;
    line-height: 1.2em;
    padding: 10px 0;
}

    .content_item__flex {
        position: relative;
        padding:0 0 20px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .content_item__back {
            font-weight: 400;
            font-size: 16px;
            color: #6E6E6E;
            padding: 20px 0 0 0;
            a {
                color: #6E6E6E;
                text-decoration: none;
            }
            img {
                max-width: 19px;
                margin-right: 10px;
            }
        }

        .content_item__left {
            width: 36%;
            position: relative;
            padding: 0 10px 0 0 ;

            .little_title {
                font-size: 14px;
                color: #6E6E6E;
                padding: 5px  0;
            }
            .business_subtitle {
                font-weight: 400;
                font-size: 16px;
                color: #6E6E6E;
            }

            .description_1 {
                padding:0 0 10px 0;
            }
        }

        .content_item__right {
            width: 60%;
            position: relative;
            .img2 {
                padding: 0 0 26px 0;
                img {
                    border-radius: 2px;
                }
            }
        }
    }
}

.content_item-template2 {

}

