@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.content-website {
    padding: 40px 0 40px 0;
    .trusted_protection__slider {
        padding: 40px 0 10px 0;
    }
}


.content_items-template {
    position: relative;
}

.content_items {
    padding: 40px 0 15px 0;
}

.content_items__flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content_item {
    width: calc((100% / 4) - 20px); /* По умолчанию 4 колонки */
    margin-right: 26px;
    height: auto;
    min-height: 600px;
    color: #00003D;

    &:nth-child(4n) {
        margin-right: 0;
    }

    a {
        display: block;
        color: #00003D;
        text-decoration: none;
        position: relative;

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
        }
    }

    .title {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3em;
        padding: 20px 0 10px 0;
        max-width: 320px;
        transition: text-decoration 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }



    .subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2em;
        padding: 0 0 5px 0;
        max-width: 320px;
    }
}

.content_item,
.content_items-template2 {
    .more {
        padding: 5px 0 0 0;
        text-decoration: none;
        color: #6E6E6E;

        span {
            margin-right: 6px;
        }

        img {
            max-width: 15px;
        }
    }
}


/* Медиа запросы для адаптации */
@media screen and (max-width: 1200px) {
    .content_item {
        width: calc((100% / 3) - 20px);
        margin-right: 26px;
        margin-bottom: 36px;

        &:nth-child(4n) {
            margin-right: 26px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content_item {
        width: calc((100% / 2) - 20px);
        margin-right: 26px;

        &:nth-child(4n) {
            margin-right: 26px;
        }

        &:nth-child(3n) {
            margin-right: 26px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 720px) {
    .content_item {
        min-height: 1px;
    }
}

@media screen and (max-width: 468px) {
    .content_item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 26px;

    }
}
