@import 'pagination.scss';
@import 'general-style/paddind.scss';
@import 'general-style/width.scss';
@import 'general-style/button.scss';
@import 'loader_map.css';
@import '@fontsource-variable/nunito-sans/full.css';

@import 'message/flach_message.scss';
@import 'components/content/solution.scss';
@import 'components/content/file-pdf.scss';
@import 'components/content/feedback-form.scss';
@import 'components/menu/header-menu-component.scss';
@import 'components/menu/menu_menu-horizontal.scss';
@import 'components/menu/menu_hamburger-component.scss';
@import 'components/menu/menu_hamburger-show-component.scss';
@import 'components/content/trusted-protection.scss';
@import 'components/content/services-business.scss';
@import 'components/content/latest-insights.scss';
@import 'components/content/personal-profile.scss';
@import 'components/content/vacancies.scss';
@import 'components/content/items-template.scss';
@import 'components/content/items-template2.scss';
@import 'components/content/items-template4.scss';
@import 'components/content/items-template5.scss';
@import 'components/content/item-template.scss';
@import 'components/content/social-zone.scss';
@import 'components/content/content-faq.scss';
@import 'components/buttons/buttons.scss';
@import 'components/logo/logo-component.scss';

@import 'templates/axeld/swiper.scss';
@import 'components/form/form-input-component.scss';
@import 'components/form/form-select-component.scss';
@import 'components/form/form-response-component.scss';
@import 'components/form/form-loader-component.scss';
@import 'components/form/form-radio2-component.scss';
@import 'components/form/filter_contact.scss';

@import 'fancybox/fancubox6.scss';
@import 'templates/axeld/header.scss';
@import 'templates/axeld/footer.scss';
@import 'fonts.scss';
@import 'style.scss';
