.loader_map,
.loader_map:before,
.loader_map:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader_map {
    font-size: 10px;
    margin:0 auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top:-10%;

}

.loader_map:before,
.loader_map:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader_map:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader_map:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.loader_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}
.loader_wrapper.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 11;
    background: rgba(0,0,0,0.4);
}
.loader_wrapper_form.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 101;
    background: rgba(0,0,0,0.4);
}
