@charset "UTF-8";
@import url("reset.css");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Nunito Sans Variable", sans-serif;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body .content_ {
  flex: 1 0 auto;
  background: #FFFFFF;
}
body footer {
  flex-shrink: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.clear {
  clear: both;
}

a {
  color: #EF533F;
}

a:hover {
  color: #0870D8;
  text-decoration: none;
}

.color_red {
  color: #EF533F;
}

.background_f7f7f7 {
  background: #f7f7f7;
}

.background_F5F5F5 {
  background: #F5F5F5;
}

.border_top_FFFFFF {
  border-top: 1px solid #ffffff;
}

.block {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.display_block {
  display: block;
}

.display_none,
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.color_white,
.color_FFFFFF {
  background-color: #ffffff;
}

.color_F5F5F7 {
  background-color: #F5F5F7;
}

.z-index_100 {
  position: relative;
  z-index: 100;
}

.z-index_105 {
  position: relative;
  z-index: 105;
}

.z-index_110 {
  position: relative;
  z-index: 110;
}

.z-index_115 {
  position: relative;
  z-index: 115;
}

.relative {
  position: relative;
}

.up {
  text-transform: uppercase;
}

.h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1em;
  position: relative;
  color: #00306B;
}

.h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2em;
  position: relative;
}

.h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2em;
  position: relative;
  color: #00306B;
}

.h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2em;
  position: relative;
}

.dark-blue {
  color: #00003D;
}

.card {
  position: relative;
  display: block;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1215686275);
  padding: 24px;
  border-radius: 4px;
}
.card.no_padding {
  padding: 0;
}

.h3_blue {
  color: #00306B !important;
  font-weight: 800 !important;
  line-height: 1.2em !important;
  position: relative !important;
  font-size: 20px !important;
  display: flex !important;
  padding: 16px 0 10px 0 !important;
  text-transform: uppercase;
}

hr {
  position: relative;
  margin: 2.5em 0;
  border-top: 1px solid #E0E0E0;
}

.well {
  width: 100%;
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* color: #212121;*/
  font-size: 14px;
  line-height: 1.4em;
  color: #667085;
}

.blue-strong {
  color: #00003D;
}

.blue-light {
  color: #0870D8;
}

.fancybox__dialog * {
  user-select: auto !important; /* Включаем выделение текста */
  cursor: default !important; /*Меняем курсор мыши на стандартный */
}

.last_block {
  padding-bottom: 50px;
}

.background_F5F5F7 {
  background: #F5F5F7;
}

.desc {
  width: 100%;
  position: relative;
}
.desc .bl_desc {
  width: 100%;
  position: relative;
  padding: 0 0 10px 0;
}
.desc .bl_desc2 {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.desc p {
  width: 100%;
  position: relative;
  padding: 10px 0;
  line-height: 1.6rem;
  font-size: 16px;
}
.desc h1 {
  line-height: 1.3em;
  padding: 10px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  color: #0870D8;
}
.desc h2 {
  line-height: 1.25em;
  padding: 10px 0 8px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  color: #0870D8;
}
.desc h3 {
  line-height: 1.25em;
  padding: 9px 0 8px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #282828;
}
.desc h4 {
  line-height: 1.25em;
  padding: 8px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #282828;
}
.desc iframe, .desc embed {
  box-sizing: border-box;
  border: 8px solid #EF533F;
  border-radius: 24px;
  margin: 16px 0;
}
.desc ul, .desc ol {
  padding: 15px 0;
}
.desc ul li:before {
  content: "";
  display: inline-block;
  border-radius: 10px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #0870D8;
  left: -4px;
  top: 12px;
}
.desc ul li {
  padding: 5px 5px 5px 25px;
  font-size: 16px;
  position: relative;
  line-height: 1.4rem;
}
.desc ol {
  padding-left: 15px;
}
.desc ol li {
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  position: relative;
  line-height: 1.4rem;
  list-style-type: decimal;
}
.desc ._img2 {
  width: 100%;
  position: relative;
  margin: 10px 0;
}
.desc ._img2 img {
  max-width: 100%;
}

.description_1 img,
.description_2 img,
.description_3 img {
  width: 100%;
}

@media (max-width: 1440px) {
  .block {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}
@media (max-width: 999px) {
  .h1 {
    font-size: 32px !important;
    line-height: 1.4em !important;
    position: relative;
  }
  .h2 {
    font-size: 32px !important;
    line-height: 1.3em !important;
    position: relative;
  }
  .h3 {
    font-size: 28px !important;
    line-height: 1.3em !important;
    position: relative;
  }
  .h4 {
    font-size: 28px !important;
    line-height: 1.2em !important;
    position: relative;
  }
  .desc img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 794px) {
  .JFormFieldMap_wrapper {
    max-width: 96%;
    overflow: hidden;
    margin-bottom: 55px;
  }
}
/** временно **/
.scroll-block {
  width: 100%;
  overflow-y: scroll;
}

.scroll-block::-webkit-scrollbar-track {
  border-radius: 4px;
}

.scroll-block::-webkit-scrollbar {
  width: 6px;
}

.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #fff;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #ebebed;
}

/*# sourceMappingURL=style.css.map */
