@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

/* Общие настройки блока header_background */
.header_background {
    width: 100%;
    height: 858px;
    position: relative;
    overflow: hidden; /* Скрывает любые выходящие элементы */
    z-index: 1;
}

/* Фиксируем размер и положение видео */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto; /* Высота должна подгоняться автоматически */
    object-fit: cover; /* Сохраняем пропорции */
    // opacity: 0.8;
}

.header_background_about-us {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden; /* Скрывает любые выходящие элементы */
    z-index: 1;

    #background-video {
        position: absolute;
    }

    .about-us-data {
        color: #fff;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 840px;
        margin: auto;
        position: relative;
        z-index: 9;

        .h2 {
            width: 100%;
            font-size: 44px;
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
        }

        p.short_desc {
            width: 100%;
            justify-content: center;
            padding: 10px 0;
            line-height: 1.5em;
            font-weight: 200;
            font-size: 20px;
        }
    }
}

.header_background_top_img {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden; /* Скрывает любые выходящие элементы */
    z-index: 1;

    .top_img__div {
        overflow: hidden;

        &:after {
            padding: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #00003D66;
        }
    }

    img.top_img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Сохраняем пропорции */

    }

}

.block_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 20px;
    height: 76px;

    .block_header__left {
        width: 20%;
        position: relative;
        z-index: 5;

        .logo {
            position: relative;
        }

    }

    .block_header__center {
        width: 60%;
    }

    .block_header__right {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 76px;

        .header_enter {
            padding: 0 20px 0 0;
        }
    }
}

._line {
    width: 100%;
    height: 1px;
    margin: 26px 0;
    background: #F4F6F833
}

.our_mission {
    display: flex;
    color: #fff;
    padding: 10px 0;
    line-height: 1.4em;

    .our_mission__left {
        width: 30%;
    }

    .our_mission__right {
        width: 70%;
        max-height: 80px;
        overflow: hidden;

        p {
            line-height: 1.6em;
        }

    }
}


/* Общие настройки блока header_background
   Cиняя тема */
.header_background.template-blue {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    overflow: visible;

    .flex-direction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.blue-gradient {
    background: radial-gradient(74.65% 279.9% at 25.35% 50%, #00003D 0%, #0164F5 60.07%);
    position: relative;
    width: 100%;
}

.seo_title {
    color: #fff;
    padding: 10px 0 30px 0;

    h1 {
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3em;
    }
}

/* Общие настройки блока header_background
   Белая  тема */
.header_background.template-white {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;

}


@media (max-width: 1500px) {
    .header_background {
        #background-video {
            height: 100%;

        }
    }
}

@media (max-width: 1100px) {
    .header_background {
        height: 810px;

        #background-video {

        }
    }
}

@media (max-width: 1068px) {
    .block_header {

        .block_header__left {

        }

        .block_header__center {
            width: 78%;
        }

        .block_header__right {
            width: 10%;

        }

    }
}

@media (max-width: 900px) {
    .block_header {

        .block_header__left {
            width: 280px;
            min-width: 280px;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .block_header__center {
            width: 0;
            display: none;
        }

        .block_header__right {
            width: auto;

        }

    }
    .header_background.template-blue {
        height: auto;
        min-height: 168px;
    }
    .header_background_top_img,
    .header_background_about-us {
        height: auto;
        min-height: 400px;

        #background-video {
            height: 100%;

        }
    }
    .header_background_about-us {

        &:before {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            background-color: rgba(0, 0, 61, 0.4);
            z-index: 9;
        }

        .about-us-data {
            padding: 20px 0;
            .h2 {
                padding-bottom: 10px !important;
            }
        }
    }
}

    @media (max-width: 668px) {
        .header_background {
            height: 100%;
        }
        .mySwiperHead {
            .swiper-slide {
                justify-content: center;

                .swiper_content {
                    width: 80%;
                    position: relative;
                    left: 4px;
                }
            }
        }
        .sw-pagination {
            height: 50px;
        }

        .our_mission {
            display: block;
            padding: 0 0 20px 0;

            .our_mission__left {
                padding: 0 0 10px 0;
                width: 100%;
            }

            .our_mission__left {
                padding: 0 0 10px 0;
                width: 100%;
            }
        }
    }

    @media (max-width: 468px) {
        .block_header {

            .block_header__left {
                width: 230px;
                min-width: 1px;
                display: flex;
                align-items: center;
            }
        }

        .sw-pagination {
            justify-content: start;
            padding-left: 10px;

            .swiper-button-next {
                justify-content: start;
            }
        }
    }
