@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.swiper-initialized-custom {
    border-radius: 12px;
    position: relative;

    .swiper-slide {
        max-height: 410px;
    }
}

.prev-custom {
    position: absolute;
    left: 0 !important;
    bottom: 172px;
    width: 48px !important;
    height: 48px !important;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABgCAYAAABbjPFwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NUI2NTI4NTlDODVCMTFFQzgwNTc4OUQ2NzE2MUQ1NjYiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NUI2NTI4NThDODVCMTFFQzgwNTc4OUQ2NzE2MUQ1NjYiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDI4Q0Q3NUYwRjkzMTFFQ0E0RThEMDkwNjU2OTJGMzgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDI4Q0Q3NjAwRjkzMTFFQ0E0RThEMDkwNjU2OTJGMzgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6SRY13AAAGRUlEQVR42uxaTYgcRRT+qrpnF2QDQXAFBc3BiwiSXJSAEoMIHoMePARUEEQRD0IWVMTERMEf1hUEFVbRgzfBXa8SMCAqQkDBg+jBJCD+i5toIrvTXeV7Va+mawO73bvTO9ODVVDbM9091d/36v33KmushcJgWJrK/SnoS4742lhGhMWqy+DQtdydued2urIKmCn6WoJPQ63R1H6BcQ7GZw1NxkZEkAGasNlp4MNPof1NBN7Roxs1/4K+K4Xxi18YKMGkBaPDuuquegIkecfMEkNDIs+0P2fL8eNnDIzFYbIeI2N1mImA15BShJ35Y+FYoTvDeEwxRsLM2LUzWNZ5Q3dkVnag5w2nK4OxMCaHzXqsbL7eiIvKYMsp0bG+0NUYvxVnHgNjUiToUosRrzliuXeVWoxlNfqh9vjHrUkOg/JAVL8ixeIn7N6N2uBw9Xon2wUzMDZiEqDZgYPSmPCRCCQCiUAi0HUCwQ0rsz43cXm6ir7n0ap08a5DwP47G6YKVooQWdeE5+oWCGhK9CxnqlIbWFndpRylkMh9eA9gDj8CPDonEb5BosbpsVtf+wwmCwLr1/46r9+BkI+bKhvkSKg5L+FjX85rT+6hJ4GDdwNHjwDffFYvIzUlKTIJQ8vaDMsdy9qSpJ6AyiSRUp6MFlL8UG1EcvR91wzw1KvA7Cxw5H7glx/lN3UbUHiVs7pKGzi55OLFqDZ2wPqkw20v50cklZKJyHYzyNlrgadf9Pc/Q+rz+x90XlSvVkUDyWiHTU92RFV5z/a9kBEjM5WEMskAWcevvgY48QZw6R/g2ccI/E+epMkaZuJllDaL19Chei/aMGLmYCqDdHpKD81o827eD8y/A5z+nHbgYeDCBSn7bLSy2XxaIeqeITZgBbjttaBCRns1KUpflzpwdLz1AOzc81CXLgIz08ATJ7wtDEA3LCZYMF+eAr44JVVh5nfQ2kZerFkgc6AFjJFuxcwuv8vseZy6KC99FWLCaIqJvFEgY3CZuE2WCkvq5DLww3fAsddJ//8GFl+JgpGq3K2qIxLUxnrpl6KuDTs69TvARbRzc6WAYVA9r7NnvgXmDgO33Ebe52XgiislZmRSooZHbDKV+HpWyxAYlchV9Vsg4FQD3o2G292DRFd//ZPAPw5cfyOw8B5w1R5xfSZKNeqK9tgbiSraZgrSzAayKE9hndc9SSmUV6vfzpER3wec/R44/ia51utEnRo0xkzIgySVsBLdtY3q4WEIsIGiJ1E4uMeikq4WtbpI3ugFyn9OkzeZfxu44aZmcYBTEiupysD/U3ph8pZsgMO6WRUdFdBWgtugZ6O9P+cAtzgPfLwEvLRIGem9DTzcWqVKA4kXXv9V2YIXct1gVel9mYnhSR6kpJvNDy2li/b+W8DPlE78e76ZDJ0wbCUMI/FB1ceSvHEcQNBPkcoAfBTy42z15AdbaOCqqBONyIWalow4lZSJQCKQCCQCGxKQknfQeRhMJW8sx40wBIYIm5J4MXjFZOUkv3t1NxT+qukAAROKEiWFkvbpjas1Ct6B3L1Edvl9tubrUc730TCb3PFRVjUIY2OMxr/4ZuzahurfNapEbcr++lbhuAdjYUwOm/JYCbOttDy0QEp/zLtm39pjijESZjVI5txrSynl+GxZSq8zq20s7fjgDJh1nmtlVzvk0vQqIjfKxqvi9t60ALdd0B/BMi2lpqTfzuHwxwn/dxu9Dnzg4lqSWWf+WSVgUYIxvqasDd3biRx28lMJa+3EgmfsWik1sQQYe1KhpEL/exVKBBKBRCARSASGGUNV7nVBkCLlg3RYofuWm0bWzuwAgTlGh3dHkU+4mmY7c5M1X6P5F80DW81ttjjbbf7QervpsERzD819pDpnJ8aICTyD/oQmkzg4CvCtEYjAr4wSfCsECPwddPiK5jIBZ/ArI02ph+xKHBKdZ9DLQ2L5aBtrDN2V2N2FsmwoN0rHveIyF9ooEbfqRluJA2zENM/QXBJXOjICQ9lAnEpEngjb9UTbSCXa68wJ4H00v2YiQqj7NrDBmgtiF3snwgY2AHNU1n5gYnKhy1TqOVr/HH08v5MalNrrqaRMBBKBRCARmGwC6RXTGEd6S5lUKKlQ1V63YUvCjsSfu6AqG+H6T4ABAOCzgHsXmrOhAAAAAElFTkSuQmCC');

    &:hover {
        background-position: 0 0
    }

    .swiper-navigation-icon {
        display: none;
    }


}

.next-custom {
    position: absolute;
    right: 0 !important;
    bottom: 172px;
    width: 48px !important;
    height: 48px !important;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABgCAYAAABbjPFwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0M0RUM3OTJDODVCMTFFQ0IxRTRDMjU4MTM1RTJERDQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0M0RUM3OTFDODVCMTFFQ0IxRTRDMjU4MTM1RTJERDQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDI4Q0Q3NUYwRjkzMTFFQ0E0RThEMDkwNjU2OTJGMzgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDI4Q0Q3NjAwRjkzMTFFQ0E0RThEMDkwNjU2OTJGMzgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5WC9n1AAAGIElEQVR42uxaTYgcRRR+r7pnlxADiyABBd2D4EGQeNJFxA0SPBr14CGgEFAUT0IWURZX/LuIJiBEBCWCHkW9CuoKYvQgKHgQPGi8CK6IMZjAznRX+V69V9O1C5up3Zmd6cYqqJ2f7un+vlfv53vVi846BwjD4Wii/1PRhxLiYzMZERaH2+DQsdJ/8+DddGQTwM7Rxxr4a8A+TSMXmOVgfM7SZGxEBAoAQ9jcPMBHX4GRkwi8p0cnGv4FfUaE2ZtfGaBiMorRY930R4UAWd4zc8TQkskLI9+5evb4GQNj8ZicYGSsHjMREA+p1diFvFaeFbRnWMEUYyTMjN34gGWft3RG4XQFehI4bRmMhTF5bE6wcvhKEFdNwNZz6mMDpWtg9lFcCAbGhGTo2mgQ9z2xUlKl0WDZjH5oBP+sPcljQAGCg4YUm5+wSxp1IeGarUm2DWFgXcQkQHPDBGWg4yMTyAQygUyg9QRUUttQL6wUEUys0Ev3Ahw7PlRdksfLpkKy0nTbtBfaphcYn8BALlgEbW50YlqZ5ir/5ArAiSca0iwFfM+BojZRreN1f7gH6/56AgT4Qq4nN/S/QFGvHtzcaALnPwVYOwVw38MAJ58RkHxb32WxVO7Jdfg+WCgZq+RwQjFgWP311ZVUcmBQhaNWgED8+A3AqUcA7rwL4NV3AQ4eot8WYmkzEI1vgi4w2sAMhNDYBPjCLKa8pbCxEFvHJHRsvnsiS2/8AbBKbnTwAMDLbwEcvkGB6jkVXdPWann1V+cmsQKVKmuMoipYJqFj86tWCLg/fwd4/imAK/8CvHSWSFyvSph1PjbiDTVRJMRYQgz09LUSi/Cy2hBshd7kajO0FdosXboE8NzjAN+dB3id3Om2JQJfSjyYogl8vkeCecvkvpSXtqAb1LXccGkZ4I5lDcokUd/Ya2hdakfW3gB8bRXg28+EJK90xWTKSErPvJBZ3WOy2pijBrGV9vaaQ+LzVt3I2CT/T1+BkA1qK8vMq/D1F5Qi10fHgQtZpVbLaw15bEXer5wE+OUnDeCeuA6vcKUBhOMS4DbO5+hSAnroq06yizOjN6b8n0LOP3AtwNPPAtx0C4E/IdmJQTN40AD2PI1Ub4vjrkApy+kDGKPsY5qGe1QdCBX2ukXKPm9KkK5SNtr4S+NLg9hnpEi64CQKGfssW8IXHKcWD4UsxU/VdQ7fCPAi5f8LP9MKUFXe+I0OOc337Jq9hiijL9JiIC2ILS/UXFQPQiEr0+rAzbdSynyHUueXAK+Q71++LAdMJOjYPY1utXkJ0ZNAHzuI2W/jFGi1Fnjx1R9tg2MPkZgjLfTxBwDvvy0Fy5pI3qr+CS4aKrzdbHbixosBXVqrsYg2kgAJC3jlH4CzZwA+/1CsXOueDoSkYJpkwBYvrCaKMimVlkk5fMtG9S633DndxrtsGEmUsMKeRHgf7jHJGMgtZSaQCWQCmcCOBFwoULitk0rsefcdYShCETbUB8bDR0wubGPM6wmVHLUtIGCDoELdEDPySMxLj4pXoPQPkaWR6EvvG7Q5tOAxq8fgBBNjY4xWHnwzdiN7R5Voj1rdph4o25YMxsKYPLaggqt4Z6dQDaJapGxbfBvBFGMkzDgUc/6xJUpn5NvXWvcvi2RRtW/Dbzf2tR8v1TNq3S0MZubgRe22fJc1r8BdG/xHsczrjoZ2gz7h8NuO/7uN2QI+cPHbkkVr/lklYEHFGB9DJ98gdHO47ksJ51xnwTN2g4idJcDYswtlF/rfu1AmkAlkAplAJjDO2FPnnlr8qFIep5cFOv+9URW1zStwjgC+sJ96wvc0u5m7vP49NP+meeZqK7DH6fadgAJcpPkrzXWaC5MkMJUgphi4QC9HOR5oMonFzmWhiMTFSZKYaholEhdpMolPaH5PJJZnkkY1Pd4/AU68Eg8ooc4WsoVWp9Ed7nlaU+uRcbPQVPfQNYWeo8nAb9fAnn4M7BE8Z511/Xh0EuCnFgMR+B8mZflpSokj6u+nOycl6NxH9fpro9ToXgnsaXe6RXLa5e313FJmAplAJpAJdJtAfsQ0w5GfUmYXyi7U9MQuLElYkfh9G1xlJ1z/CTAAm+1yCMp1PTUAAAAASUVORK5CYII=');

    &:hover {
        background-position: 0 0
    }

    .swiper-navigation-icon {
        display: none;
    }

}

/** слайдер компетенца **/

.mySwiperHead {
    width: 100%;
    height: 530px;
    overflow: hidden;

    .swiper-slide {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .swiper_content {
            width: 50%;
            position: relative;
            left: 4px;

            .h2 {
                font-size: 44px;
            }

            .swiper_desc {
                position: relative;
                padding: 20px 0;
                line-height: 100%;

                p {
                    padding: 10px 0;
                    line-height: 1.5em;
                    font-weight: 200;
                    font-size: 24px;
                }
            }
        }

    }

    .swiper-scrollbar {
        background: none !important;
        width: 250px !important;
        left: 0 !important;
    }

    .swiper-scrollbar-drag {
        background: $colorBlue !important;

    }


}

.sw-pagination {
    position: relative;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;

    .swiper-button-next {
        position: relative;
        bottom: 0;
        color: #F4F6F899;
        width: 200px;
        display: flex;
        gap: 13px;

        .swiper-navigation-icon {
            display: none;
        }
    }
}

/** карусель **/
.mySwiperCarouselCentered {
    width: 100%;
    height: 480px;
    overflow: hidden;

    .swiper-slide {
        width: 340px;
        min-width: 340px;
        height: 480px;
        position: relative;
        background-size: cover;
        text-decoration: none;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: #00000099;
            transition: 0.3s;
            position: relative;
            z-index: 5;

        }

        .sw-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: start;
            text-decoration: none;
            padding: 24px;
            .__title {
                width: 70%;
                font-size: 34px;
                font-weight: 600;
                color: #fff;
                padding: 0 0 10px 0;
            }
            .__more {
                font-size: 24px;
                color:#F4F6F899;
            }
        }

        &:hover:before {
            background: none;
        }
    }
}

.swiper_navigation_carousel_centered {
    display: flex;
    gap: 20px;
    padding: 30px 0 0 0;

    div {

        width: 48px;
        min-width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2s;


    }

    .swiper-b-prev {
        background-color: #00000014;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDkgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjU2MDc0IDE0LjI5Mkw3LjI4NzU0IDE1LjU2NEwwLjM1Mjc0IDguNjMxNkMwLjI0MDk1NSA4LjUyMDUyIDAuMTUyMjQxIDguMzg4NDMgMC4wOTE3MDMxIDguMjQyOTNDMC4wMzExNjU2IDguMDk3NDMgMCA3Ljk0MTM5IDAgNy43ODM4QzAgNy42MjYyMSAwLjAzMTE2NTYgNy40NzAxNyAwLjA5MTcwMzEgNy4zMjQ2N0MwLjE1MjI0MSA3LjE3OTE3IDAuMjQwOTU1IDcuMDQ3MDggMC4zNTI3NCA2LjkzNkw3LjI4NzU0IDBMOC41NTk1NCAxLjI3MkwyLjA1MDc0IDcuNzgyTDguNTYwNzQgMTQuMjkyWiIgZmlsbD0iIzZFNkU2RSIvPgo8L3N2Zz4K');

        &:hover {
            background-color: #f2f2f2;
        }

    }

    .swiper-b-next {
        background-color: #0870D8;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDkgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00Ljc2ODM3ZS0wNiAxLjI3MTk2TDEuMjczMiAtMy41Mjg1OWUtMDVMOC4yMDggNi45MzIzNkM4LjMxOTc5IDcuMDQzNDUgOC40MDg1IDcuMTc1NTQgOC40NjkwNCA3LjMyMTA0QzguNTI5NTggNy40NjY1NCA4LjU2MDc1IDcuNjIyNTcgOC41NjA3NSA3Ljc4MDE2QzguNTYwNzUgNy45Mzc3NiA4LjUyOTU4IDguMDkzNzkgOC40NjkwNCA4LjIzOTI5QzguNDA4NSA4LjM4NDc5IDguMzE5NzkgOC41MTY4OCA4LjIwOCA4LjYyNzk2TDEuMjczMiAxNS41NjRMMC4wMDEyMDQ0OSAxNC4yOTJMNi41MSA3Ljc4MTk2TDQuNzY4MzdlLTA2IDEuMjcxOTZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');

        &:hover {
            background-color: $colorBlue;
        }
    }
}
