@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.menu_header-menu-component {
    min-height: 52px;
    height: 100%;
    position: relative;

    nav {
        padding: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        min-height: 52px;
        height: 100%;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;
        }

        a {
            text-decoration: none;
            display: block;
            color: $color;
            transition: 0.2s;
        }

    }

    .top_menu {
        li:first-child {
            a {
                padding-left: 15px;
            }
        }
    }

    .button_menu {
        color: $colorBlue2;
        border: 1px solid $colorBlue2;
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        transition: 0.3s;
        height: 34px;

        &:hover {
            color: #fff;
            border: 1px solid $colorBlue2;
            background: $colorBlue2;
            text-decoration: none;
        }
    }
}

nav {
    box-sizing: border-box;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        display: block;
        color: $color;
    }

}

.top_menu {
    position: relative;
}

.top_menu > li {
    display: inline-block;
    position: relative;
    z-index: 101;
}

.top_menu > li.parent {
    position: relative;
    z-index: 102;
}

.top_menu li:first-child {
    a {
        padding-left: 0;
    }
}

.top_menu > li > a {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
    color: #00003D;
    font-weight: 600;

    /** стрелка **/
    em.arrow {
        width: 15px;
        height: 10px;
        display: inline-block;
        position: relative;
        left: 8px;


        &:before {
            content: '';
            width: 6px;
            height: 1px;
            display: block;
            position: absolute;
            background: $colorBlue;
            transform: rotate(38deg);
            top: 5px;
            left: 2px;
        }

        &:after {
            content: '';
            width: 6px;
            height: 1px;
            display: block;
            position: absolute;
            background: $colorBlue;
            transform: rotate(-38deg);
            top: 5px;
            right: 2.3px;
        }
    }


    /** стрелка **/

}

.top_menu > li > a:before {
    /*    content: "";
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 100%;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
        transform: translate(-50%, 20px);
        opacity: 0;
        transition: .3s;*/
}

.top_menu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.top_menu {
    li.active > a {
        color: #00003D;
        text-decoration: underline;

        em.arrow {


            &:before {

                background: #00003D;
            }

            &:after {
                background: #00003D;
            }
        }
    }

    .submenu {
        position: absolute;
        z-index: 102;
        left: 50%;
        top: 90%;
        width: 350px;
        height: auto;
        padding: 5px;
        margin-top: 7px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, 20px);
        transition: .3s;

        li {
            position: relative;
            z-index: 102;

            a {
                font-size: 15px;
                height: 42px;
                padding: 0 10px !important;
                transition: .3s linear;
                display: flex;
                align-items: center;
                color: #282828;
                border-radius: 0;
                position: relative;
                z-index: 102;

            }

            a:hover {
                background: #f4f6ff;
                color: $colorBlue2;
                text-decoration: none;
            }
        }

        li:first-child a {
            border-radius: 4px 4px 0 0;
        }

        li:last-child a {
            border-radius: 0 0 4px 4px;
        }

        li.active {
            a {
                background: #f4f6ff;
                color: $colorBlue2;
                text-decoration: none;

            }
        }

        &.menu_400_px {
            width: 400px;
        }

        .menu_400_px {
            width: 400px;
        }

        .display_flex {
            display: flex;

            .submenu__left {
                width: 50%;
            }

            .submenu__right {
                width: 50%;
            }
        }

        .flag {
            img {
                position: relative;
                margin-right: 7px;
                top: 1.5px;
                border-radius: 6px;
            }
        }

        .submenu__all-country {
            a {
                text-align: center;
                justify-content: center;
                color: $colorBlue2;
                text-decoration: underline;
            }
        }
    }

    .fire {
        padding: 0 15px 0 22px !important;
        background-position: 5px 9px;
        background-repeat: no-repeat;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAB30lEQVR42oWQS2gTYRSFv5nMNDYZ07F5jE2TSJsGLdogNilaUCwUDKLiWhdudJWFLhRdiIi4t+rShboUEQRBfly5sb6oQjGtCC2toenYVAI2iUNi8ktaUFIEz+rCPR/3nKscuXCMzRIfZsfxlQczA+m7m3cq/1JpWccbui0+Tk6Ikxe1/wOhTh3LUIgnznPj1ANx65naBggzpYlG38j6PD17ky7/YxI6xHXo+nWa/dHj7Rfmnl/i2zu/MFMefJUsw9EODCDggNcNZftQOyD9OR69EUzdH8dvmGyvg6sOahM0B6TbEWbK+AvkF/cyNhRj7fsgQR18dQgpYGjQMKAhg7x6ckVEDns1kTy4FXsyC909lNhDdysKYLigooE3DHH1HKsz8HAi57pe/HQAtZgl0pnCH4iRNCHqAV2HWg3qJVBs+OpAsVLQCO5aZsmG9BLEQrAjAMEAqB5Q8iBrsPoDJKBoa2qmz/iCw0t+Aj0rYGmwbRRpnoDefrCqEFxv6tCfvLdROjF8lRWqbGnlH6Kpj4K+GzwjYBTAjaR359nMPmthA3DJEhXmKQC190hp0JQd0FwEG8gxxYD1+s9bM5HwDEevpbG5zOe3067yi6paXiiRv/OUOc5ghccy0jff8v4GBIeVfQC4IE4AAAAASUVORK5CYII=');
    }
}

.top_menu {
    li:hover > a {

        color: $colorBlue2;
        text-decoration: underline;

        em.arrow {

            &:before {

                background: $colorBlue2;
            }

            &:after {
                background: $colorBlue2;
            }
        }
    }
}

.top_menu._black {
    li > a {
        color: #fff;
    }
    li.active > a {
        color: #fff;
        text-decoration: underline;

        em.arrow {


            &:before {

                background: #fff;
            }

            &:after {
                background: #fff;
            }
        }
    }
    li:hover > a {

        color: #fff;
        text-decoration: underline;

        em.arrow {

            &:before {

                background: #fff;
            }

            &:after {
                background: #fff;
            }
        }
    }

}

.top_menu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}


@media screen and (max-width: 1128px) {
    .top_menu > li > a {

        padding: 0 10px;
        font-size: 14px;
    }
}
