.h-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    top: 0;
    left: 0;

    .h_m_top {
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h_m_top__left {
            height: 30px;

        }

        .h_m_top__right {
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close {
            cursor: pointer;
        }
    }

    .h_m_middle {
        position: relative;

    }
    .h_m_bottom {

        .f_social {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            padding: 30px 0 20px 0;
            height: auto;
            justify-content: center;

            a {
                border: 1px solid #fff;
            }
        }
        .copy {
            color: #fff;
            padding: 0;
            text-align: center;
        }
        .f_menu {
            padding: 20px 0 10px 0;
            a {
                width: 100%;
                color: #fff;
                display: block;
                text-align: center;
                padding: 3px 0;
            }
        }
    }
}

@media (max-width: 900px) {

}

@media (max-width: 468px) {

}
