.menu-hor-wrap {
    position: relative;
    border-bottom: 1px solid #E6E0EC;
}
.menu_menu-horizontal {
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    li {
        position: relative;
        height: 56px;
    }
    a {
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6E6E6E;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        border-bottom: 2px solid #fff;
    }
    li.active {
        a {
            color: #000;
            border-bottom: 2px solid #000;
        }
    }
}

@media (max-width: 968px) {
    .menu-hor-wrap {
        position: relative;
        border-bottom: none;
    }
    .menu_menu-horizontal {
        position: relative;
        width: 100%;
        height: auto;
        display: block;

        li {
            position: relative;
            height: 50px;
        }
        a {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6E6E6E;
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            border-bottom: 2px solid #eee;
        }
        li.active {
            a {
                color: #000;
                border-bottom: 2px solid #000;
            }
        }
    }

}
