.logo_logo-component {

    a {
        display: flex;
        align-items: center;
    }
}

.logo  {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 52px;

}
.logo_logo-footer-component {
position: relative;
}

